.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 15px;
}

.chart:hover {
  opacity: .6;
}

.chart:last-of-type {
  margin: 0;
}

.chart__value {
  margin: 0 0 10px;
  font-size: 24px;
}

.chart__column {
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .chart__value {
    font-size: 18px;
  }

  .chart {
    margin-right: 10px;
  }
}

@media screen and (max-width: 425px) {
  .chart__value {
    font-size: 14px;
  }
}
